<!--
  Generated template for the DatosEnvioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="cabecera">
        <ion-title>Datos del Envio</ion-title>
    </ion-navbar>

    <img class="imagen" src="assets/imgs/Sushi_Logo.png">

    <!-- <h4 id="nombreCliente">Hola! NombreDelCliente</h4> -->
</ion-header>


<ion-content class="contenedor" padding>
    <ion-list>
        <ion-note item-start>
            Dirección de entrega
        </ion-note>

        <ion-grid>
            <ion-row>
                <ion-col col-12 no-padding>
                    <ion-item>
                        <ion-input [(ngModel)]="autocomplete.input" (input)="updateSearchResults()" type="text"
                            placeholder="direccion"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>



        <ion-list [hidden]="autocompleteItems.length == 0">
            <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
                {{ item.description }}
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
                <ion-label>Forma de Pago</ion-label>
                <ion-select [(ngModel)]="selecion" #seleccion>
                    <div *ngFor="let metodo of formasPago">
                        <ion-option *ngIf="metodo.id == 1" value="{{metodo.id}}" selected>{{metodo.descripcion}}</ion-option>
                        <ion-option *ngIf="metodo.id != 1" value="{{metodo.id}}">{{metodo.descripcion}}</ion-option>
                    </div>
                </ion-select>
            </ion-item>
        </ion-list>


        <ion-item>
            <ion-textarea [(ngModel)]="observaciones" class="area" placeholder="Observaciones o si su pago es en efectivo, colocar la cantidad"></ion-textarea>
        </ion-item>
        <ion-item style="padding-button:3rem">
            <ion-label>Con Datos(emision de factura):</ion-label>
            <ion-checkbox (click)="openFactura()" [(ngModel)]="factura"> </ion-checkbox>
        </ion-item>
    </ion-list>


    <ion-footer>
        <ion-item>
            <!--  Seccion de Fcaturacion y totales -->
            <ion-row id="pie" offset-4>
                <p>Sub-Total: ${{subTotal}}</p>
            </ion-row>
            <ion-row [hidden]="factura === false" id="pie" offset-4>
                <p>IVA: ${{ (subTotal * iva) /100 }}</p>
            </ion-row>
            <ion-row id="pie" offset-4>
                <p>Cargo a Domicilio: ${{ cargoDomicilio }}</p>
            </ion-row>

            <!-- Seccion para calculo de importe en paypal -->
            <ion-row *ngIf="seleccion.value == 1 " id="pie" offset-4>
                <p hidden>Pago Paypal: ${{ ((subTotal + cargoDomicilio )* cargo_paypal) /100 | number:'1.2-2' }}</p>
            </ion-row>
            <ion-row *ngIf="seleccion.value != 1 && factura == false " id="pie" offset-4>
                <p>Pago Paypal: ${{ ((subTotal + cargoDomicilio )* cargo_paypal) /100 | number:'1.2-2' }}</p>
            </ion-row>
            <ion-row *ngIf="seleccion.value != 1 && factura == true " id="pie" offset-4>
                <p>Pago Paypal: ${{ ((subTotal + cargoDomicilio + (subTotal * iva) /100)* cargo_paypal) /100 |
                    number:'1.2-2' }}</p>
            </ion-row>


            <!-- Seccion para calculo de totales -->
            <ion-row *ngIf="factura === true && seleccion.value == 1" id="pie" offset-4>
                <h4>Total: ${{subTotal + (subTotal * iva) /100 + cargoDomicilio }}</h4>
            </ion-row>
            <ion-row *ngIf="factura === false && seleccion.value == 1" id="pie" offset-4>
                <h4>Total: ${{subTotal + cargoDomicilio }}</h4>
            </ion-row>
            <ion-row *ngIf="factura === true && seleccion.value !=1" id="pie" offset-4>
                <h4>Total: ${{subTotal + (subTotal * iva) /100 + ((subTotal + cargoDomicilio +((subTotal * iva) /100))
                    * cargo_paypal)
                    /100 +
                    cargoDomicilio | number:'1.2-2'}}</h4>
            </ion-row>
            <ion-row *ngIf="factura === false && seleccion.value != 1" id="pie" offset-4>
                <h4 sttep="0.00">Total: ${{subTotal + ((subTotal + cargoDomicilio )* cargo_paypal) /100 +cargoDomicilio
                    | number:'1.2-2'}}</h4>
            </ion-row>

        </ion-item>
        <button ion-button full ion-button id="footer" (click)="confirmarPedido()" color="cabecera">
            <ion-icon name="paper-plane"> Confirmar y enviar pedido </ion-icon>
        </button>
    </ion-footer>

</ion-content>