page-datos-envio {

    .imagen {
        width: 100%;
        height: 80px !important;
        padding: 0px !important;
        margin: 0px !important;

    }

    #info {
        padding-top: 10% !important;
        margin-top: 20% !important;
    }

    #nombreCliente {
        margin-top: -10%;
        color: #0078ad;
    }

    .area {
        margin-top: 5px !important;
    }




}