<ion-header>
    <ion-navbar color="cabecera">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Realizar Pedido
        </ion-title>
        <ion-buttons end>
            <button [disabled]="listPedido.length === 0" ion-button icon-only color="royal" (click)="pedido()">
                <ion-icon name='md-cart' is-active="false"></ion-icon>
                <ion-badge *ngIf="listPedido.length > 0" color="danger" class="carrito-numero">{{listPedido.length }}</ion-badge>
            </button> &nbsp; &nbsp;

        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-searchbar placeholder="Search" (ionInput)="onInput()" [(ngModel)]="myInput"></ion-searchbar>
    <ion-list>
        <ion-list text-wrap no-lines>
            <ion-item-sliding *ngFor="let plato of platillos">
                <ion-item>
                    <ion-card>
                        <ion-row>
                            <ion-col col-4>
                                <img src="{{SERVER}}/images/{{plato.imagen}}" />
                            </ion-col>
                            <ion-col col-8>
                                <ion-card-content class="item text-wrap">

                                    <ion-card-title class="card-title">
                                        <ion-row col-8>
                                            <h2>Nombre:</h2>
                                            <p>{{ plato.nombre }}</p>

                                        </ion-row>
                                        <ion-row col-8>
                                            Precio: {{ plato.precio }}
                                        </ion-row>
                                        <ion-row>
                                            <ion-buttons>
                                                <button small ion-button (click)="mostarPop($event, plato)"> ver mas

                                                </button>
                                            </ion-buttons>
                                        </ion-row>

                                    </ion-card-title>
                                    <ion-row class="cardfooter">
                                        <ion-col>
                                            <ion-row no-padding>
                                                <ion-col text-right>
                                                    <button (click)="agregar(plato)" ion-button clear small color="danger"
                                                        icon-start>
                                                        <ion-icon name='cart'></ion-icon>
                                                        Agregar
                                                    </button>
                                                </ion-col>

                                            </ion-row>
                                        </ion-col>
                                    </ion-row>
                                </ion-card-content>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-item>

            </ion-item-sliding>
        </ion-list>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-footer *ngIf="listPedido.length > 0">
        <button (click)="pedido()" ion-button full ion-button id="footer" class="boton">
            <ion-icon name="cart"> Ver mi pedido </ion-icon>
        </button>
    </ion-footer>

</ion-content>