<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="cabecera">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <ion-icon name="ios-basket"> Categorias </ion-icon>
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
  
  <ion-list>
    <button ion-item *ngFor="let categoria of categorias" (click)="itemSelected(categoria)">
      {{ categoria.nombre }}              <ion-icon item-end name="ios-arrow-forward-outline">
      </ion-icon>
    </button>      
  </ion-list>

  

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
