<!-- Generated template for the PopinfoComponent component -->
<ion-card class="popinfocard">
  <ion-card-header>
    <ion-card-title class="card-title"> Descripcion del producto</ion-card-title>
    <ion-card-content>
      <ion-item text-wrap>
        <p>{{ myDatos.descripcion}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card-header>
</ion-card>