popinfo {
  .mypopover {
    background-color: aqua;
    margin: 10rem;
  }

  .popinfocard {
    margin-right: 3rem;
  }

  .card-title {
    font-size: 1.5rem;
    margin-bottom: 1px;
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .card-content {
    font-size: 1rem;
    margin-bottom: 0.5px;

  }

  .card-content-md {
    padding: 8px 10px;
  }

  .label-md {
    margin: 0.5px 8px 0.5px 0;
  }
}